<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Coordinator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

    <h2>Welcome, Professor!</h2>

    <!-- View Projects -->
    <h3>View Projects</h3>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Professor</th>
            <th>Num Students</th>
            <th>Current Students</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate through the projects -->
        <tr th:each="project : ${projects}">
            <td th:text="${project.id}"></td>
            <td th:text="${project.name}"></td>
            <td th:text="${project.description}"></td>
            <td th:text="${project.professorName}"></td>
            <td th:text="${project.numStudents}"></td>
            <td th:text="${project.currentStudents}"></td>
            <td th:text="${project.dueDate}"></td>
            <!-- Add more columns as needed -->
        </tr>
        </tbody>
    </table>

    <!-- Search Projects -->
    <h3>Search Projects</h3>
    <div class="search-container">
        <label for="search">Search by Project Name:</label>
        <input type="text" id="search" placeholder="Enter project name">
        <button onclick="searchProject()">Search</button>
    </div>
    <script src="script.js"></script>

<!-- Notify Students -->
<h3>Notify Students</h3>
<form action="/teacher/notifyStudents" method="post">
    <button type="submit">Notify Students without Projects</button>
</form>

<h3>Hystrix Demo</h3>

<p th:if="${demo_message != null}" th:text="${demo_message}">
</p>

<label for="timeout">Input Timeout Desired (set to timeout at 1000ms): </label>
<input type="text" id="timeout">
<button onclick="sendTimeoutDemo()">Start</button>

<script>
    function sendTimeoutDemo(){
        let time = document.getElementById("timeout").value;
        window.location.href = "http://localhost:8080/coordinatorView/" + time;
    }

</script>

</html>