<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Page</title>
</head>
<body>

</body>

<h3>Project</h3>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Professor</th>
        <th>Num Students</th>
        <th>Current Students</th>
        <th>Due Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:text="${project.id}">
        <td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.description}"></td>
        <td th:text="${project.professor.name}"></td>
        <td th:text="${project.numStudents}"></td>
        <td th:text="${project.currentStudents}"></td>
        <td th:text="${project.dueDate}"></td>
    </tr>
    </tbody>
</table>
</html>