
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student UI</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../CommonTheme.css">
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

    <div class="mainHeader">
        <h2 class="contentPane text-white p-3 display-4" th:text="'Welcome ' + ${student.name}"></h2>
    </div>


    <div class="p-3 contentPane">
        <!-- View Projects -->
        <!-- Search Projects -->
        <h3>View Projects</h3>
        <div>
            <label for="search">Search by Project Name:</label>
            <input type="text" id="search" placeholder="Enter project name">
            <button class="btn search-button" onclick="searchProject()">Search</button>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Professor</th>
                <th>Num Students</th>
                <th>Current Students</th>
                <th>Due Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate through the projects -->
            <tr th:each="project : ${projects}">
                <td th:text="${project.id}"></td>
                <td th:text="${project.name}"></td>
                <td th:text="${project.description}"></td>
                <td th:text="${project.professor.name}"></td>
                <td th:text="${project.numStudents}"></td>
                <td th:text="${project.currentStudents}"></td>
                <td th:text="${project.dueDate}"></td>
                <td class="m-2">
                    <a th:href="@{/projects/{id}(id=${project.id})}">
                        <button th:id="'projectPage' + ${project.id}" class="btn btn-outline-dark btn-sm notify-btn">
                            Project Page
                        </button>
                    </a>
                </td>
                <!-- Add more columns as needed -->
            </tr>
            </tbody>
        </table>

        <!-- Sign Up for a Project -->
        <h3>Sign Up for a Project</h3>
        <div class="card">
            <div class="card-body">
                <label for="projectID">Project ID:</label>
                <input type="text" id="projectID" name="projectID">
                <button class="btn btn-success btn-sm" th:attr="onclick=|signupStudent('${student.id}')|">Sign Up</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-4">
                <h4>Messages: </h4>
                <hr>
                <div class="card my-2" th:each="message : ${student.messages}">
                    <div class="card-header" th:text="${message.date}"></div>
                    <div class="card-body">
                        <h5 class="card-title" th:classappend="${message.level == URGENT_LEVEL} ? 'text-danger': 'text-primary'" th:text="${message.level}"></h5>
                        <p class="card-text" th:text="${message.content}"></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Current Project Info
                    </div>
                    <div class="card-body">
                        <div th:if="${student.project != null}">
                            <span><b>ID: </b><code th:text="${student.project?.id}"></code></span><br>
                            <span><b>Name: </b><code th:text="${student.project?.name}"></code></span><br>
                            <span><b>DueDate: </b><code th:text="${student.project?.dueDate}"></code></span><br>
                            <span><b>Status: </b><code th:text="${student.project?.status}"></code></span>
                        </div>
                        <div th:unless="${student.project != null}">
                            <p>No Project has been assigned!</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-4">
                <div class="callout">
                    <h4>Program</h4>
                    <code th:text="${student.program != null} ? ${student.program}: 'no program selected'"></code>
                </div>
                <div class="callout">
                    <h4>Availability</h4>
                    <code th:text="${student.timeslot != null} ? ${student.timeslot}: 'Availability not set'"></code>
                </div>
            </div>
        </div>
    </div>

    <footer class="p-2">
        <h3 class="contentPane text-white">Group 10</h3>
    </footer>

    <script>
        async function signupStudent(studID){
            let projId = document.getElementById("projectID").value;

            let results = fetch('/student/assignProject?' + new URLSearchParams({
                studentID: studID,
                projectID: projId
            }), {
                method: "put"
            }).then(()=>{
                window.location.reload();
            })

        }
    </script>

    <script src="../script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
